Tesis_Latex/Tesis.aux
Tesis_Latex/Tesis.bbl
Tesis_Latex/Tesis.blg
Tesis_Latex/Tesis.log
Tesis_Latex/Tesis.toc
Codigo/Base_de_datos_nubes/Chamela
Codigo/Base_de_datos_nubes/Juriquilla
Codigo/Base_de_datos_nubes/Los_Tuxtlas
Codigo/Base_de_datos_nubes/PWS100_CHAM
Codigo/Base_de_datos_nubes/PWS100_JQRO
Codigo/Base_de_datos_nubes/PWS100_LTUX